@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 14px 0;
  color: #6070ff;
}

.mylogo a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.nav ul {
  display: none;
}

.nav.open {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6070ff;
  width: 100%;
  height: 100%;
}

.nav.open ul {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.tech li {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #6070ff;
  background: #ebebff;
  height: 4.5vh;
  align-items: center;
  display: flex;
}

.nav ul li {
  margin: 1rem;
}

.nav ul li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.tech ul li a {
  text-decoration: none;
  color: #6070ff;
}

.nav.open ul li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #ffff;
}

.toggle {
  height: 45px;
  width: 45px;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.menu {
  width: 30px;
  height: 4px;
  position: relative;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  background-color: #344563;
}

.toggle.open .menu {
  transform: translateX(-45px);
  background-color: transparent;
}

.menu::after {
  transform: translateY(10px);
}

.menu::before,
.menu::after {
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #344563;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  content: "";
}

.menu::before {
  transform: translateY(-10px);
}

.toggle.open .menu::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-color: azure;
}

.toggle.open .menu::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: azure;
}

.first-page {
  background-image: url("./image/mobile.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-size: 100%;
}

.headline {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.me {
  margin: 5rem 0;
}

.me h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.me p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 90%;
  margin: 0 auto;
}

.social {
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.social h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: -5rem;
  padding-bottom: 0.5em;
}

.social .social-icon ul {
  display: flex;
  gap: 0.7rem;
  padding-bottom: 5rem;
}

.social .social-icon ul li {
  margin: 10px 10px 10px 0;
}

.social .social-icon ul li a {
  color: #505f79;
  font-size: 1.5em;
}

.social .social-text {
  margin-top: 1rem;
}

.card {
  display: grid;
  padding: 7rem 0;
  height: auto;
  width: 100%;
  gap: 7rem;
  background: #e5e5e5;
}

.card-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  height: auto;
  width: 90%;
  margin: 0 auto;
}

.card-image img {
  width: 100%;
  height: auto;
}

.dec {
  display: none;
}

.canopy {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.card-content {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.card-content h3 {
  font-weight: 700px;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.card-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 14px;
  align-items: center;
  margin-bottom: 20px;
}

.institution {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.year {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
}

.dot {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
  margin: 10px;
}

.tech {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

button {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 10px;
  color: #396fd2;
  border: 1px solid #396fd2;
  background-color: #fff;
  border-radius: 10px;
  height: min-content;
}

button:hover {
  color: #fff;
  background-color: #396fd2;
}

button:active {
  background-color: #2230d2;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}

.about-page {
  width: 90%;
  margin: 0 auto;
}

.about-para {
  padding-bottom: 1rem;
  text-align: left;
}

.social .icons ul {
  display: flex;
  gap: 1.2rem;
  padding-bottom: 1rem;
}

.social .icons ul li {
  display: flex;
}

.social .icons ul li a {
  color: #505f79;
  font-size: 1.5em;
}

.dash {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  margin: 0 auto;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  width: 90%;
}

.java {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 1rem;
  background: #f7f7f9;
  height: 12vh;
  padding-left: 0.7rem;
}

.arro {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  margin: 0 auto;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  width: 90%;
}

.hr-line {
  margin: 0.5rem 1rem;
}

.last {
  padding-bottom: 4rem;
}

.form-cantact {
  background-image: url(./image/form-img2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 100px 24px 40px 24px;
  text-align: center;
  background-color: #6070ff;
  border-top-left-radius: 100px;
  padding-top: 50px;
  margin-top: 50px;
  width: 100%;
  height: auto;
}

.form-cantact h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #fff;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.form-cantact p {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #ebebff;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

.form-cantact {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.form-cantact input {
  border: 1px solid #cfd8cf;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  height: 48px;
  width: 90%;
}

.form-cantact textarea {
  border: 1px solid #cfd8cf;
  width: 90%;
  height: 170px;
  font-size: 17px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  margin-left: 30px;
}

@media only screen and (max-width: 656px) {
  form input {
    border-radius: 8px;
  }

  form textarea {
    border-radius: 8px;
  }
}

/* tablets size */
@media only screen and (max-width: 1224px) and (min-width: 656px) {
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mylogo {
    margin-left: 150px;
  }
  .toggle {
    display: none;
  }

  .nav ul {
    display: flex;
  }

  .lang li {
    display: flex;
    flex-direction: column;
    width: 122px;
    height: 120px;
  }

  .nav ul li {
    margin: 20px;
  }

  .menu {
    display: none;
  }

  .first-page {
    background-image: url(./image/dec-intro.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 100vh;
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headl1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    display: grid;
    padding: 7rem 0;
    height: auto;
    width: 100%;
    gap: 7rem;
    background: #e5e5e5;
  }

  .card-image img {
    width: 100%;
    height: 100%;
  }

  .mob {
    display: none;
  }

  .dec {
    display: block;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #fff;
    border-radius: 24px;
    padding: 2rem;
    height: auto;
    width: 90%;
    margin: 0 auto;
    gap: 3.5em;
  }

  .card-image {
    width: 50%;
  }

  .card-content {
    width: 50%;
  }

  .two,
  .four {
    flex-direction: row-reverse;
  }

  .about-page {
    display: flex;
    flex-direction: row;
    padding: 2.5em;
  }

  .about-me-left {
    width: 40%;
  }

  .about-me-right {
    width: 60%;
  }

  .lang {
    display: flex;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-paragraph {
    padding: 0 10%;
  }

  .form-cantact {
    background-image: url(./image/dec-form.png);
  }

  .form-container {
    width: 70%;
  }
  
  form input {
    border-radius: 0;
    width: 100%;
  }
}

/* desktop view */
@media (min-width: 1225px) {
  .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 20px;
  }

  .mylogo {
    margin-left: 150px;
  }

  .nav {
    display: flex;
    align-self: flex-end;
  }

  .nav ul {
    display: flex;
  }

  .lang li {
    display: flex;
    flex-direction: column;
    width: 122px;
    height: 120px;
  }

  .nav ul li {
    margin: 10px;
  }

  .menu {
    display: none;
  }

  .first-page {
    background-image: url(./image/dec-intro.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 100vh;
    padding: 22px;
  }

  .headl1 {
    margin: 5em 18em 0;
    width: 600px;
  }

  .card-image img {
    width: 544px;
    height: 448px;
  }

  .mob {
    display: none;
  }

  .dec {
    display: block;
  }
  .toggle {
    display: none;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #fff;
    border-radius: 24px;
    padding: 1rem;
    height: 486px;
    width: 1156px;
    margin: 0 auto;
    gap: 3.5em;
  }

  .two,
  .four {
    flex-direction: row-reverse;
  }

  .card-content {
    width: 544px;
    height: 465px;
    margin-bottom: 10px;
    margin-top: 1em;
  }

  .about-page {
    display: flex;
    flex-direction: row;
    padding: 2.5em;
  }

  .about-me-left {
    width: 40%;
  }

  .about-me-right {
    width: 60%;
  }

  .lang {
    display: flex;
  }

  .form-cantact {
    background-image: url(./image/dec-form.png);
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .form-cantact p {
    width: 569px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-cantact input {
    width: 447px;
    height: 48px;
  }

  .form-cantact textarea {
    width: 447px;
    height: 170px;
  }
}
